* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(17, 237, 9);
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
